/* @import './components/header/Header.scss'; */
* {
  margin: 0;
  padding: 0;
}
body {
  background: #181511;
}
.container {
  max-width: 90%;
  margin: 0 auto;
}

@media (max-width:1440px) {
  .container {
    padding: 0 8.4%;
  }
}
